html { 
	height: 100% 
}

body{
	height: 100%; 
	margin: 0; 
	padding: 0; 
	background-image: url();
	font-family:'Slabo 27px', serif;
    font-size: 18px;
	color:#020538;
}
.container{
	margin: 0 auto;
	padding-right:50px;
	padding-left: 50px;
 
}
.navbar{
	background-color: black!important;
	}
.logo{
	height: 35px;
	}
	
.icone{
	color: orange;
	font-size:25px;
	}

form{
	margin-top:60px;
	margin-bottom:60px;
	padding: 20px;
	border:1px solid #DCDCDC;
	background-color: white;
}

#map_canvas{
	height: 100% 
}